html,
body {
  width: 100%;
  height: 100%;
}
.app {
  padding: 24px;
  font-size: calc(10px + 2vmin);
  max-width: 1280px;
  margin: 0 auto;
}

.app-header {
  margin-bottom: 24px;
}

.app-swiper {
  background: #222;
  border-radius: 18px;
}

.app-image {
  object-fit: contain;
  height: 70vh;
  width: 100%;
}
